.my-ui-sidebar {
  background-color: var(--main-bg-color);

  &__list {
    list-style-type: none;
  }

  &__item {
    &:not(:last-child) {
      border-bottom: 1px solid rgba(black, .1);
    }
  }

  &__link {
    display: block;
    padding: 10px 15px;

    text-decoration: none;
    color: var(--text-color);
    transition: color .15s, border-color .15s;
    border-right: 4px solid transparent;

    &--active, &:hover {
      color: var(--main-color);
    }

    &--active {
      border-color: 4px solid var(--main-color);
    }
  }
}
